source_up  # source parent directory's .envrc
# set $AOCROOT to the root directory of the AoC repo in the .envrc of the parent directory.
export AOC_SKELPATH=$AOCROOT/skel
export PATH=$PATH:$AOCROOT/bin
